@model FinalProject_Team11.Models.Property

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>


@if (User.Identity.IsAuthenticated == false)
{
    <a asp-action="Login" asp-controller="Account" asp-route-propertyID="@Model.PropertyID" class="btn btn-success">Login to make a reservation now!</a>
}



@if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
{
    <a asp-action="Create" asp-controller="Reservations" asp-route-propertyID="@Model.PropertyID" class="btn btn-success">Make a reservation now!</a>
    <a asp-action="Create" asp-controller="Reviews" asp-route-PropertyID="@Model.PropertyID" class="btn btn-success">
        Make a review now!</a>
    }



<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyRating)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekdayPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekdayPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekendPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CleaningFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyBedroom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyBedroom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyBathroom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyBathroom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyGuest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyGuest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountNights)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountNights)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>



    </dl>
</div>
<div>
    <a asp-action="ReviewsIndex" asp-controller="Reviews" asp-route-id="@Model.PropertyID" class=" btn btn-success">See the Reviews</a>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
