@model ChangeOtherPasswordViewModel
@{
    ViewData["Title"] = "Change Admin Account Password";
}

<h2>Change Password</h2>
@using (Html.BeginForm("ChangeAdminPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div>
        <input type="hidden" asp-for="AccountSelectedID" />
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to Manage Admin Accounts Home", "ManageAdminAccounts", "Account", null, new { @class = "nav-link" })
    </div>
}