@model IEnumerable<FinalProject_Team11.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextReivew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeReview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextReivew)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisputeReview)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReviewID">Details</a>
                </td>
            </tr>
        }
        <a asp-action="Index">Back to List</a>
    </tbody>
</table>
